<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAPI</title>
</head>
<h1>Weather Data Api</h1>
<p><strong>URL format:</strong> http://127.0.0.1:5000/api/v1/station/date</p>
<h4>URL Examples</h4>
<ul>
<li>For one station and one date: http://127.0.0.1:5000/api/v1/10/1988-10-25</li>
<li>For one station for all dates: http://127.0.0.1:5000/api/v1/10</li>
<li>For all stations for one date: http://127.0.0.1:5000/api/v1/10/1988</li>
</ul>

<p>{{data | safe}}</p>
<body>
    
</body>
</html>